html, body, section{
  height: 100% !important;
}
a,a:hover,a:visited,a:focus{
  color: #207DF7;
}
section{
  background: #EFEFF4;
  border-right : 1px solid #DEDEDF;
  /*overflow-y: scroll;*/
}
section div.title-bar{
  background: #FFF;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid #C2C2C2;
  top: 0;
}
section div.title-bar h1{
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 10px;
  color: #000;
  font-size: 18px;
}
section div.title-bar a{
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 18px;
}
section article.post{
  padding: 10px;
}
